<nav class="bg-gray-100 px-12 lg:px-36 py-3 top-0 left-0 z-20 sticky">
  <div class="container flex items-center justify-between">
    <div class="flex flex-row items-center justify-center gap-2">
      <img src="../../assets/pokeball-png-45330.png" alt="" class="w-6 h-6">
      <a href="#" class="text-xl font-semibold hover:font-bold">Pokedex</a>
    </div>


  <div class="flex-row items-center justify-between">
    <ul class="flex flex-row">
      <li class="px-3">
        <a href="#" class="hover:font-semibold">Home</a>
      </li>
      <li class="px-3">
        <a href="#" class="hover:font-semibold">Type</a>
      </li>
      <li class="px-3">
        <a href="#" class="hover:font-semibold">Generations</a>
      </li>
    </ul>
  </div>

  </div>

</nav>
