full-board-columns = 1fr 1fr 5fr 1fr 1fr
main-board-only = 1fr
out-card-position = 3
default-margin = 2vw

out-card(row-start)
  display: inherit
  grid-row-start: row-start

grid-template-col(columns)
  grid-template-columns: repeat(columns, percentage(1 / columns))

grid-template-row(rows)
  grid-template-rows: repeat(rows, percentage(1 / rows))

grid-template(columns, rows)
  grid-template-col(columns)
  grid-template-row(rows)



.board-container
  display: grid
  margin: 1em
  grid-template-columns: full-board-columns

.out-card-left
  out-card(3)


.out-card-right
  out-card(4)


.vertical-line
  display: inherit
  align-items: center
  grid-template(1, 6)
  gap: 3px


.main-board
  display: inherit
  align-content: space-between


.deck
  display: inherit
  margin: default-margin
  grid-template-col(5)


.card-image
  width: 100%


.symbol-card
  display: flex
  padding: 1px
  border: solid 1px
  align-content: center
  justify-content: center
  min-height: 70px


@media (max-width: 400px)
  .vertical-line
    display: none
  .out-card-left
    display: none
  .out-card-right
    display: none
  .board-container
    grid-template-columns: main-board-only
    margin-block: 0

