  .card {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background-color: rgb(221, 177, 64);
    border: solid 1px;
    margin: 0.5vw;
    padding: 0.5vw;
    font-size: 1vw;
  }
  
  .cardTitle{
      display: inherit;
      justify-content: space-between;
      align-items: center;
      border: solid 1px;
      padding-inline: 2px;
  }
  
  
  .titleSymbol {
      max-width: 1.5vw;
  }
  
  
  .cardStars {
      display: inherit;
      justify-content: flex-end;
  }
  
  .star{
      border-radius: 100%;
      max-width: 1vw;
      margin:0.1vw;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
}
  
  .cardImage {
    display: inherit;
    justify-content: center;
    max-width: 300px;
    width: 100%;
  }
  
  .cardInfo {
    background-color: rgb(220, 187, 105);
    padding-inline: 0.5vw;
    border-style: solid;
    border-color: rgb(135, 104, 26);
  }
  
  .cardType {
    font-weight: bold;
  }
  
  .cardNumbers {
      border-top: solid 3px;
      flex-direction: row;
      justify-content: flex-end;
      flex-wrap: nowrap;
  }
  
  .cardNumbers p {
      margin-left: 0.5vw;
  }