.board-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 5fr 1fr 1fr;
  grid-template-rows: auto;
  max-height: 700px;
  gap: 10px 10px;
}

.out-card-left {
  display: inherit;
  grid-row-start: 3;
}

.out-card-right {
  display: inherit;
  grid-row-start: 4;
}

.vertical-line {
  display: inherit;
  grid-template-columns: 80%;
  grid-template-rows: 16% 16% 16% 16% 16% 16%;
  align-items: center;
  gap: 3px;
}

.main-board{
  display: inherit;
  align-content: space-around;
}

.deck {
  display: inherit;
  align-items: center;
  justify-items: stretch;
  padding: 2px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 4px 8px;
}

.card-zone {
  min-height: 70px;
} 

.card-image {
  /* max-width: 50px; */
  width: 100%;
}

.symbol-card {
  display: flex;
  padding: 1px;
  border: solid 1px;
  align-content: center;
  justify-content: center;
  min-height: 70px;
  background-color: rgb(9, 9, 57);
}





/* grid-template-columns: 20% 20% 20% 20% 20%;
grid-template-rows: 50% 50%; */