.board-container {
  display: grid;
  grid-template-columns: 1fr 1fr 5fr 1fr 1fr;
  margin-block: 2em;
}

.out-card-left {
  display: inherit;
  grid-row-start: 3;
}

.out-card-right {
  display: inherit;
  grid-row-start: 4;
}

.vertical-line {
  display: inherit;
  grid-template-columns: 90%;
  grid-template-rows: 16% 16% 16% 16% 16% 16%;
  align-items: center;
  gap: 3px;
}

.main-board{
  display: inherit;
  align-content: space-between;
}

.deck {
  display: inherit;
  grid-template-columns: 20% 20% 20% 20% 20%;
  margin: 5vw;
}

.card-zone {
  min-height: 70px;
} 

.card-image {
  width: 100%;
}

.symbol-card {
  display: flex;
  padding: 1px;
  border: solid 1px;
  align-content: center;
  justify-content: center;
  min-height: 70px;
  background-color: rgb(9, 9, 57);
}
